*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

header, section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

nav, header, section {
    padding: 25px; /* Мінімальні внутрішні відступи для smartphone */
}

.container-fluid,
.container {
    margin: 0 auto; /* Центрування по-горизонталі */
 width: 100%;
height: 100%;
}

.container {
    max-width: 1200px;  Обмеження ширини контенту всередині секцій 
}